.axis path,
.axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
.dots text,
.legend text,
.metrics.axis text { font: 11px sans-serif; }
.axis text { font: 11px sans-serif; }
.metrics.axis path { display: none; }
.pos {fill-opacity: 0.5;}
.neg {fill-opacity: 0.05;}
.tp { fill: #1f77b4; stroke: #1f77b4; stroke-width: 1px; }
.fp { fill: #fff; stroke: #31a354; stroke-width: 2px; }
.tn { fill: #31a354; stroke: #31a354; stroke-width: 1px; }
.fn { fill: #fff; stroke: #1f77b4; stroke-width: 2px; }
.legend text { font-size: 12pxbba; font-family: sans-serif }
.metric .title { font-size: 12px; font-weight: bold; text-anchor: end; font-family: sans-serif; }
.metric .subtitle { font-size: 10px; fill: #999; text-anchor: end; font-family: sans-serif; }
rect.mbg  { fill: #ddd; }
rect.mbar { fill: steelblue; }
.grid line { stroke: #fff; }
.grid .minor line { stroke-opacity: .5; }
.grid text { display: none;}
.axis line { stroke: #000;}
.grid path { display: none; }
.overlay { fill: none; pointer-events: all; }
